
<h1>Flickrs Search Bar Show Case</h1>
<p class="s"><input name="search" [formControl]="searchControl" id="search" type="search"></p>
<div class="container">
  <div class="row">
    <div class="flickr-section" *ngFor="let flickr of flickrs">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <div ><a href={{flickr.thumbernail}} target="_blank" ><img src={{flickr.url}}></a></div>
            <div class="card-title">{{flickr.author}}</div>
            <div class="card-title">{{flickr.tags}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>